/*Applies to everything*/
* {
    box-sizing:border-box;
}

/*Add override for user-agent stylesheet to allow flex-wrap*/
h2 {
    display:inherit;
}
/*Later, consider combining padding width and margin*/
header {
    width: 96%;
    margin:0;
    padding: 0%;
    display:flex;
    flex-wrap: wrap;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategrey;
    color:linen;
}

/*Revisit what's needed in header and footer since parent inherit*
Added display:inherit to over-ride user agent stylesheet*/
body {
    width: 96%;
    margin: 0;
    padding: 0%;
    display:inherit;
}

/*Add footer elements, may not be needed*/
footer {
    width: 96%;
    margin: 0;
    padding: 0%;
}
/*Added foundation of card styling - not successful yet
.flex-container {
    display: flex;
    background-color: pink;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;
    align-items: flex-start;
}

Trying code from w3*/
.flex-container {
    display: flex;

    background-color: #f1f1f1;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  /*.card-column {
    display: flex;
    background-color: DodgerBlue;
    color: white;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }*/

  /*removed display:flex as this is inherited from parent*/
.card-column {
    flex: 1 0 300px;
    width: auto;
    background-color: yellow;
    margin: 10px;
    padding: 0px;
    font-size: large;
    flex-direction: column;
    align-content: center;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
}

.card-body {
    display: flex;
    width: 100%;
    padding: 5px;
    border-color:black;
    border:black dotted 2px;
    background-color: gray;
    padding: 2% 2% 2% 2%
}

.card-image {
    width: 100%;
    height: 100%;
    /border: 20px;
    /border-color: black;
    /padding-top: 5%;
    /padding-bottom: 5%;
    background-color: red;
    /padding-left: 5%;
    /padding-right: 5%; 
}

.card-footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orange;
}
*/