/*Applies to everything*/
* {
    box-sizing:border-box;
}

/*Add override for user-agent stylesheet to allow flex-wrap*/
h2 {
    display:inherit;
}
/*Later, consider combining padding width and margin*/
header {
    width: 96%;
    margin:0;
    padding: 0%;
    display:flex;
    flex-wrap: wrap;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightslategrey;
    color:linen;
}

/*Revisit what's needed in header and footer since parent inherit*
Added display:inherit to over-ride user agent stylesheet*/
body {
    width: 96%;
    margin: 0;
    padding: 0%;
    display:inherit;
}

/*Add footer elements, may not be needed*/
footer {
    width: 96%;
    margin: 0;
    padding: 0%;
}
/*Added foundation of card styling - not successful yet
.flex-container {
    display: flex;
    background-color: pink;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;
    align-items: flex-start;
}
*/
/*May need to add negative margins*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*
    margin-left: -#
    margin-right: -#
    */
    background-color: #f1f1f1;
      justify-content: center;

  }
  
  /*.card-column {
    display: flex;
    background-color: DodgerBlue;
    color: white;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }*/

  /*removed display:flex as this is inherited from parent*/
  /*Had to consider column changed width to height?*/
.card-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    min-height:100%;
    background-color: yellow;
    margin: 10px;
    padding: 0rem;
    font-size: large; 
}

.card-body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-color:black;
    border:black dotted 2px;
    background-color: gray;
    padding: 5rem 10rem;
}

.card-image {
    width: 80%;
    min-height: 80%;
    justify-content: center;
    position:relative;
    top: -100%;
    left: 10%;
    /border: 20px;
    /border-color: black;
    /padding-top: 5%;
    /padding-bottom: 5%;
    background-color: red;
    /padding-left: 5%;
    /padding-right: 5%; 
}

.card-footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orange;
    align-content: center;
}
*/